extends layout

block content
	h1= title
	form#formAdduser(name="adduser", method= "post", action="/adduser")
		input#inputAddUsername(type="text", name= "username", placeholder= "username")
		input#inputAddEmail(type="text", name= "useremail",  placeholder = "email")
		button#btnSubmit(type="submit") submit
